/* Stylesheet for Etch a Sketch webpage */

@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400;700&display=swap');

body {
    font-family: 'Martian Mono', monospace;
    background-color: rgb(142, 170, 194);
    text-align: left;
    margin: 0px;
    padding: 0px;

}

button {
    border: none;
    margin: 0px;
    padding: 16px;
    background-color: #434447;
    color: rgb(185, 185, 185);
    font-family: 'Martian Mono', monospace;
    font-size: 14px;
}

button:hover {
    background-color: #20283b;
    scale: 1.05;
}



.main-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;

}

.header {
    background-color: #313233;
    color: rgb(175, 175, 175);
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    margin: 0px;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.options-panel {
    background-color: #6b7288;
    color: #b4c0e6;
    font-size: 18px;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    
}

.options {
    font-size: 14px;
    color: rgb(178, 196, 223);
    font-weight: bold;
    margin: 8px;
}

.select-color-container {
    background-color: #434447;
    color: rgb(185, 185, 185);
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 14px;

}

.select-color-container:hover {
    background-color: #20283b;
    scale: 1.05;
}

.select-color-container:active {
    background-color: red;
}

.artboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.artboard {
    background-color: #b65050;
    border-radius: 8px;

    width: 600px;
    height: 600px;

    padding: 16px;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: row;
}

.slider-container {
    width: 75%;
    margin-top: 24px;
    margin-bottom: 8px;

}

.slider {
    -webkit-appearance: none;
    appearance: none;

    width: 100%;
    height: 25px; 
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: blueviolet;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: blueviolet;
  cursor: pointer;
}

.footer {
    font-size: 12px;
    text-align: center;
    background-color: #313233;
    color: aliceblue;
    padding: 8px;
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
}

#size-value {
    width: 50px;
}

#select-color {
    height: 36px;
    width: 36px;
    border-radius: 4px;
    border: none;
    outline: none;

}


